.homeBody {
    background-color: yellow;
}

.intro {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

h3 {
    text-align: center;
    text-decoration: underline;
}

.phone {
    font-weight: bold;
    text-align: center;
}

.email {
    font-weight: bold;
    text-align: center;
}

